/* fireworks animation */

/* .thanksmsg {
    @keyframes firework {
        0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
        50% { width: 0.5vmin; opacity: 1; }
        100% { width: var(--finalSize); opacity: 0; }
      }
    }
      
      /* @keyframes fireworkPseudo {
        0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
        50% { width: 0.5vmin; opacity: 1; }
        100% { width: var(--finalSize); opacity: 0; }
      }
       */
      /* .firework,
      .firework::before,
      .firework::after
      {
        --initialSize: 0.5vmin;
        --finalSize: 45vmin;
        --particleSize: 0.2vmin;
        --color1: yellow;
        --color2: khaki;
        --color3: white;
        --color4: lime;
        --color5: gold;
        --color6: mediumseagreen;
        --y: -30vmin;
        --x: -50%;
        --initialY: 60vmin;
        content: "";
        animation: firework 2s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, var(--y));
} */

/* .submit {
    position: relative;
    list-style: none;
    height: 80px;
}
  
  button {
    color: transparent;
    position: relative;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, .5);
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1em;
    height: 100%;
    background-color: transparent;
  }
  
  button::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 1s;
  }
  
  button:hover::before {
    width: 100%;
  }

  .contact-heading {
    margin-bottom: 30px;
  }
  .contact-section {
    width: 85%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .form-input-group {
    width: 100%;
    position: relative;
  }
  
  .form-input-group input,
  textarea {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 20px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 0.957rem;
    box-shadow: 0 0 0px 1000px #2b2b2b inset;
    color: #8a8484;
  }
  .form-input-group textarea {
    height: 25vh;
    padding: 10px 20px;
  }
  .submit-button {
    background: transparent;
    border: none;
    outline: none;
    float: right;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    color: #8a8484;
  }
  
  .form-input-group input + span::after,
  .form-input-group textarea + span::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: #08fdd8;
    bottom: 5px;
    left: 0;
    transition: ALL 0.3s linear;
  }
  .form-input-group input:focus + span::after,
  .form-input-group textarea:focus + span::after {
    width: 100%;
  }
  
  .error input,
  .error textarea {
    border-bottom: 2px solid red;
    transition: all 0.2s linear;
  }
  
  .success input,
  .success textarea {
    border-bottom: 2px solid green;
    transition: all 0.2s linear;
  }
  .message {
    position: absolute;
    bottom: 500px;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(100%, 50%);
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
  }
  .message-content {
    padding: 15px;
    background: red;
    color: #fff;
    opacity: 1;
    transition: opacity 550ms ease-in-out;
    margin-bottom: 5px;
  }
  
  .message-content.hide {
    opacity: 0;
  }
 */
